<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sudoku Game</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 class="header1">Sudoku Game</h1>
    <form method="POST" action="/submit">
        <table>
            {% for i in range(9) %}
            <tr>
                {% for j in range(9) %}
                <td>
                    {% if board[i][j] == "" %}
                        <input type="text" name="cell-{{ i }}-{{ j }}" maxlength="1" pattern="[1-9]">
                    {% else %}
                        <input type="text" name="cell-{{ i }}-{{ j }}" value="{{ board[i][j] }}" readonly>
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <div style="text-align: center;">
            <button type="submit">Submit</button>
        </div>
    </form>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>