<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sudoku Game</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 class="header1">Sudoku Game</h1>
    <form method="POST" action="/submit">
        <table>
            {% for row in board %}
            <tr>
                {% for cell in row %}
                <td>
                    {% if cell == "" %}
                        <input type="text" name="cell-{{ loop.index0 }}-{{ loop.index }}" maxlength="1" pattern="[1-9]" class="user-input">
                    {% else %}
                        <input type="text" name="cell-{{ loop.index0 }}-{{ loop.index }}" value="{{ cell }}" class="user-input">
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <div style="text-align: center;">
            <button type="submit">Submit</button>
        </div>
    </form>
    {% if error_message %}
    <div id="error-message" class="error-message">
        {{ error_message }}
    </div>
    {% endif %}
</body>
</html>